<ion-header translucent="true">
  <ion-toolbar>
    <!--  <ion-buttons slot="start">
      <ion-button (click)="selectAll(false)">Limpiar</ion-button>
    </ion-buttons>-->
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <span>
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center"> Filtros </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary" (click)="applyFilters()"
        >Limpiar</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content> </ion-content>
