<ion-header translucent="true">
  <ion-toolbar>
    <!--  <ion-buttons slot="start">
      <ion-button (click)="selectAll(false)">Limpiar</ion-button>
    </ion-buttons>-->
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <span>
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center"> Filtros </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary" (click)="applyFilters()"
        >Limpiar</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header color="light">
      <ion-label>Marcas</ion-label>
      <ion-button>Ver Todo</ion-button>
    </ion-list-header>
    <ion-item>
      <ion-label>Bluesky</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Magickur</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header lines="inset" color="light">
      <ion-label>Inset</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Item</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Item</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header lines="full" color="light">
      <ion-label>Full</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Item</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Item</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
