

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modalCtrl.dismiss()">
      
          <ion-icon name="close"></ion-icon>
     
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center"> Filtros </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" color="primary" (click)="applyFilters()"
        >Limpiar</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="full" class="ion-no-padding">
    <ion-list-header  color="light">
      <ion-label>Categorías</ion-label>
    </ion-list-header>
    <ion-radio-group [(ngModel)]="selected">
   
    <ion-item>
      <ion-radio slot="start" [value]="temp"></ion-radio>
      <ion-label>Fresas</ion-label>
      <ion-badge slot="end">22</ion-badge>
    </ion-item>
    <ion-item>
      <ion-radio slot="start" [value]="temp"></ion-radio>
      <ion-label>Limas</ion-label>
       <ion-badge slot="end">2</ion-badge>
    </ion-item>
  </ion-radio-group>
  </ion-list>

  <ion-list lines="full" class="ion-no-padding">
    <ion-list-header  color="light">
      <ion-label>Marcas</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-radio slot="start" [value]="temp"></ion-radio>
      <ion-label>Bluesky</ion-label>
       <ion-badge slot="end">7</ion-badge>
    </ion-item>
    <ion-item>
      <ion-radio slot="start" [value]="temp"></ion-radio>
      <ion-label>Magickur</ion-label>
       <ion-badge slot="end">3</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="shopping-footer">
      <ion-button
        expand="block"
        type="submit"
        class="ion-no-margin"
        form="addressForm"
        >Ver Productos</ion-button
      >
    </div>
  </ion-toolbar>
</ion-footer>
