<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!showSearchbar">Inventario</ion-title>
    <ion-searchbar
      *ngIf="showSearchbar"
      showCancelButton="always"
      [(ngModel)]="queryText"
      (ionCancel)="showSearchbar = false"
      placeholder="¿Qué estás buscando?"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span>
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="ion-margin-bottom ion-no-padding" lines="full">
    <ion-item-sliding *ngFor="let product of products">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="product.images[0]" />
        </ion-thumbnail>
        <ion-label>
          <ion-text color="primary">
            <h3 style="font-size: 12px">{{product.brand}}</h3>
          </ion-text>
          <!-- MARCA -->
          <p
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            "
          >
            {{ product.name}}
          </p>
          <!-- Precio dscto. -->
          <ion-text color="secondary">
            <p style="font-weight: 700; font-size: 16px">{{product.code}}</p>
          </ion-text>
          <i class="fas fa-truck mr-1" style="font-size: 15px"></i>
          <i class="fas fa-store mr-1" style="font-size: 15px"></i>
        </ion-label>
        <!--
          <p-inputNumber
            [min]="0"
            inputStyleClass="form-control-input-number"
            styleClass="input-styling"
            [showButtons]="true"
            buttonLayout="vertical"
            spinnerMode="vertical"
            [size]="1"
            [(ngModel)]="product.ProductCart.cantidad"
            decrementButtonClass="p-button-secondary"
            incrementButtonClass="p-button-secondary"
            incrementButtonIcon="pi pi-plus"
            [decrementButtonIcon]="product.ProductCart.cantidad > 1 ? 'pi pi-minus' : 'pi pi-trash'"
          >
          </p-inputNumber>
        -->
      </ion-item>
      <ion-item-options>
        <ion-item-option color="danger">
          <div
            style="
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            "
          >
            <div>
              <ion-icon slot="top" name="trash"></ion-icon>
            </div>
            <div class="ion-text-capitalize">Eliminar</div>
          </div>
        </ion-item-option>
        <!--
        <ion-item-option color="danger">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option> -->
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
