ion-thumbnail {
  --size: 100px;
  --border-radius: 5px;
}

ion-searchbar.custom {
  --border-radius: 8px;
}

.filter-header {
  --min-height: 40px;
  background-color: var(--ion-color-light);

  div {
    height: 40px;
    display: flex;
    align-items: center;

    div.filtrar {
      border-left: 2px solid #fff;
    }

    div.ordenar {
      border-left: 2px solid #fff;
    }
  }
}

.two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
