<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!showSearchbar">Inventario</ion-title>
    <ion-searchbar
      *ngIf="showSearchbar"
      showCancelButton="always"
      [(ngModel)]="queryText"
      (ionCancel)="showSearchbar = false"
      placeholder="¿Qué estás buscando?"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span>
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <h1>gfola</h1> -->
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">products</ion-title>
    </ion-toolbar>
  </ion-header>-->
</ion-content>
