<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!showSearchbar">Inventario</ion-title>
    <ion-searchbar
      mode="md"
      color="light"
      class="custom"
      *ngIf="showSearchbar"
      showCancelButton="always"
      [(ngModel)]="queryText"
      (ionCancel)="showSearchbar = false"
      placeholder="Buscar en inventario"
    ></ion-searchbar>
    <!-- Start::botones cuando no esta el searchbar -->
    <ion-buttons slot="end" *ngIf="!showSearchbar">
      <ion-button (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="presentFilter()">
        <span>
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
    <!-- End::botones cuando no esta el searchbar -->

    <ion-buttons *ngIf="showSearchbar" slot="end">
      <ion-button (click)="scanBarcode()">
        <ion-icon slot="icon-only" name="barcode-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="filter-header">
  <!-- <ion-toolbar color="light" class="filter-header"> -->
    <div
      class="filtros d-flex align-items-center justify-content-between ion-padding-start ion-padding-end"
    >
   
      <div class="ion-padding-end">22 Resultados</div>

    
      <div
        class="ordenar ion-padding-start ion-padding-end"
        id="verMenuOrdenar"
      >
        <ion-icon name="swap-vertical-outline"></ion-icon>Ordenar
      </div>
   
      <div class="filtrar ion-padding-start" id="verMenuFiltrar">
        <ion-icon name="funnel-outline"></ion-icon> Filtrar
      </div>
    </div>
  <!-- </ion-toolbar>  -->
</div>
  <!-- Start::listado de productos -->
  <ion-list class="ion-margin-bottom ion-no-padding" lines="full">
    <ion-item-sliding *ngFor="let product of products">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="product.images[0]" style="border: 1px solid #d1d3db" />
        </ion-thumbnail>
        <ion-label>
          <ion-text color="primary" class="ion-text-uppercase">
            <h3 style="font-size: 12px; font-weight: 600">{{product.brand}}</h3>
          </ion-text>

          <p class="two-lines">{{ product.name}}</p>

          <div style="display: flex; gap: 0.2rem">
            <ion-badge>{{product.code }}</ion-badge>
            <ion-badge color="success">{{product.size }}</ion-badge>
            <ion-badge color="dark">{{product.stock }} {{product.unit}}</ion-badge>
          </div>
        </ion-label>
        <!--
          <p-inputNumber
            [min]="0"
            inputStyleClass="form-control-input-number"
            styleClass="input-styling"
            [showButtons]="true"
            buttonLayout="vertical"
            spinnerMode="vertical"
            [size]="1"
            [(ngModel)]="product.ProductCart.cantidad"
            decrementButtonClass="p-button-secondary"
            incrementButtonClass="p-button-secondary"
            incrementButtonIcon="pi pi-plus"
            [decrementButtonIcon]="product.ProductCart.cantidad > 1 ? 'pi pi-minus' : 'pi pi-trash'"
          >
          </p-inputNumber>
        -->
      </ion-item>
      <ion-item-options>
        <ion-item-option
          color="danger"
          (click)="openDeleteProductAlert(product)"
        >
          <div
            style="
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            "
          >
            <div>
              <ion-icon slot="top" name="trash"></ion-icon>
            </div>
            <div class="ion-text-capitalize">Eliminar</div>
          </div>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!-- End::listado de productos -->
</ion-content>
